.modal { 
    background-color: rgb(43, 42, 42) !important; 
 }


 .no-border {
    border: 0;
    box-shadow: none; 
}


#eye{
  float: right;
  margin-left: -40px;
  margin-top: -28px;
  position: relative;
  z-index: 2;
}


