<!-- Button trigger modal -->
<button hidden=true id="boton" type="button" data-toggle="modal" data-target="#exampleModal">
  
</button>

<!-- Modal -->
<div data-backdrop="static" data-keyboard="false" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Inicio de sesion</h5>
        
      </div>

      <div class="modal-body">
        
        <div *ngIf="flag==1" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            Usuario o contraseña incorrecta
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row">

          
            <div class="col-md"><input [(ngModel)]="mail" type="text" class="form-control text-center" placeholder="Mail" ></div>

        </div>
        <br>
        <div class="row">

          
            <div class="col-md"><input type="password" [(ngModel)]="password"class="form-control text-center" placeholder="Password"></div>
            

        </div>
     
      <div class="modal-footer">
        <button (click)="registrarse()" type="button" class="btn btn-warning" data-dismiss="modal">Registrarse</button>
        <button *ngIf="mail != '' && password != ''  " (click)="iniciarSesion()" type="button" class="btn btn-primary">Aceptar</button>
        <button disabled *ngIf="mail == '' || password == ''  " (click)="iniciarSesion()" type="button" class="btn btn-primary">Aceptar</button>
        <button id="botonCerrar" hidden=true data-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>
