
.modal-header {
    
  background-color: #0480be;
  
}



.contenedor-formulario {
    width: 400px;
  }


.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  
   
  
   
  }


  .download {
    background: #1081ff;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;
    
  }

  a {
    text-decoration: underline;
    color: #FFFFFF;
  }




  hr{
    background-color: blue;
}


.btn-file{
    position: relative;
    overflow: hidden;
}

#dashboard{
    color: #007BCE;
}



.btn-file input[type=file]{
    position: absolute;
    top:0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}
