
  
<div style="padding-top: 20px;" class="container">
  
  
    
  <fieldset>
    <legend>Alta de siniestro:</legend>
    
    <div style="padding-top: 10px;">
    <input [(ngModel)]="fechaAlta" id="my-input" placeholder="Fecha de alta" class="form-control col-md-2" type="text" 
          data-datedropper data-dd-theme="leaf" data-dd-format="d/m/Y" data-dd-lang="es" data-dd-large="true">
    </div>
 
 
  <div style="padding-top: 20px;" class="form-group">
     
      <input [(ngModel)]="compania" placeholder="Compañia del tercero" type="text" class="form-control" />
      
 </div>

  <div>
    <h4 class="text-center">Datos del reclamante</h4>
  </div>
  <hr>
  
 
  <div style="padding-top: 10px">
      <div class="row">
        <div class="col-md-4">
          <input [(ngModel)]="nombreCompleto" placeholder="Nombre completo" class="form-control">
        </div>
        <div class="col-md-4">
          <input [(ngModel)]="apellido" placeholder="Apellido" class="form-control">
        </div>
        <div class="col-md-4">
          <input [(ngModel)]="documento" placeholder="Documento" class="form-control">
        </div>
      </div>
      
  </div>
  <br>
  <hr>
  <br>
  <h4 class="text-center">Datos del vehículo</h4>
  <div style="padding-top: 10px;">
      
    <div class="row">
      <div class="col-md-4">
        <input [(ngModel)]="dominio" placeholder="Dominio" class="form-control">
      </div>
      <div class="col-md-4">
        <input [(ngModel)]="modelo" placeholder="Marca" class="form-control">
      </div>
      <div class="col-md-4">
        <input [(ngModel)]="marca" placeholder="Modelo" class="form-control">
      </div>
    </div>  

  </div>
  <br>
  <hr>
  
  
  <div style="padding-top: 10px;">
    <div style="margin-left: 0px;" class="row">
      <div style="padding-top: 10px; width: 10px;" >
        <i class="fomr-control" class="fas fa-dollar-sign"></i>
      </div>
      <div style="width: 200px;">
        <input [(ngModel)]="importe" placeholder="importe a reclamar" type="number" class="form-control">
      </div>
    </div>
    
      
  </div>

  <div style="padding-top: 20px;" class="form-group">
      
      <input [(ngModel)]="telefono" placeholder="Telefono" type="number" class="form-control"/>
      
  </div>
  

  <div style="padding-top: 10px;" class="form-group">
      
    <input [(ngModel)]="domicilio" placeholder="Domicilio" type="text" class="form-control" />
    
  </div>

<div *ngIf="nombresURL.length > 1" style="padding-top: 10px;">
  <div class="alert alert-primary" role="alert">
    se adjuntaran {{nombresURL.length}} archivos
  </div>
</div>
<div *ngIf="nombresURL.length == 1" style="padding-top: 10px;">
  <div class="alert alert-primary" role="alert">
    se adjuntara {{nombresURL.length}} archivo
  </div>
</div>

<div style="padding-top: 10px">
      
  <div class="row">
    <div class="col-md-3">
      <label class="custom-file">
    
        <button class="btn btn-primary" data-toggle="modal" data-target="#cargaDoc" type="button"><i class="fas fa-file-upload"></i> cargar documentos</button>
      
    </label>
    </div>
    <div class="col-md-3">
      <button (click)="altaSiniestro()" type="button" class="btn btn-dark"><i class="fas fa-arrow-right"></i>Enviar formulario</button>
    </div>
  </div>

  
</div>
 
 <br>
</fieldset>
                  





</div>


<div class="modal fade" id="cargaDoc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Buscar documentos</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 text-center">
         
          <h2>Archivos cargados:<p>{{nombresArch.length}}</p></h2>
        
        </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 text-center ">
        <i style="font-size: 50px; cursor: pointer; border-color:black;" (click)="explorador()" class="fas fa-folder"></i>
        <span  hidden=true class="btn btn-primary btn-file">
          <input id="file" type="file" (change)="cambioArchivo($event)">
      </span>
      </div>
    </div>


    <div class="modal-footer">
      <button (click)="cancelar()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button data-dismiss="modal" (click)="getUrls()" type="button" class="btn btn-primary">Guardar archivos</button>
    </div>
  </div>
</div>
</div>
  
<button id="btnMensajeFormulario" type="button" data-toggle="modal" data-target="#mensajeFormulario">
</button>
<div class="modal fade" id="mensajeFormulario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Se ha generado el alta de siniestro.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>