
  
<div style="padding-top: 20px;" class="container">
  
  
    
  <fieldset>
    <legend>Alta de siniestro:</legend>
    
            <div class="row">
              <div id="my-input" class="col-md-4">
                <input [(ngModel)]="fechaAlta" class="form-control" type="date">
              </div>
              
              <!--<div " style="padding-right: 0px;" class="col-md-4">
                <input type="text" class="form-control" placeholder="Fecha de alta" name="dp" [(ngModel)]="fechaAlta" ngbDatepicker #d="ngbDatepicker">
              </div>
              <div style="padding-left: 0px;" class="col-md-2">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i style="font-size: 20px;" class="far fa-calendar-alt"></i></button>
              </div> --> 
            </div>
            
            
            
 
    <div style="padding-top: 20px;" class="form-group">
     
      <input [(ngModel)]="compania" placeholder="Compañia del tercero" type="text" class="form-control" />
      
 </div>

  <div>
    <h4 class="text-center">Datos del reclamante</h4>
  </div>
  <hr>
  
 
  <div style="padding-top: 10px">
      <div class="row">
        <div class="col-md-4">
          <input [(ngModel)]="nombreCompleto" placeholder="Nombre completo" class="form-control">
          <span *ngIf="nombrecompletoFlag==1" style="color: red;">Campo obligatorio</span>
        </div>
        <div class="col-md-4">
          <input [(ngModel)]="apellido" placeholder="Apellido" class="form-control">
        </div>
        <div class="col-md-4">
          <input [(ngModel)]="documento" placeholder="Documento" class="form-control">
        </div>
      </div>

      <!--Telefono-->
      <div style="padding-top: 20px;" class="form-group">
      
        <input [(ngModel)]="telefono" placeholder="Telefono" type="number" class="form-control"/>
        
    </div>
    
  
    <div style="padding-top: 10px;" class="form-group">
        
      <input [(ngModel)]="domicilio" placeholder="Domicilio" type="text" class="form-control" />
      
    </div>
      
  </div>
  <br>
  <hr>
  <br>
  <h4 class="text-center">Datos del vehículo</h4>
  <div style="padding-top: 10px;">
      
    <div class="row">
      <div class="col-md-4">
        <input [(ngModel)]="dominio" placeholder="Dominio" class="form-control">
      </div>
      <div class="col-md-4">
        <input [(ngModel)]="modelo" placeholder="Marca" class="form-control">
      </div>
      <div class="col-md-4">
        <input [(ngModel)]="marca" placeholder="Modelo" class="form-control">
      </div>
    </div>  

  </div>


  <br>
  <hr>
  
  <br>
  <div style="padding-top: 10px;">
    <div style="margin-left: 0px;" class="row">
      <div>
        <p style="margin-top: 6px;">Importe a reclamar:</p>
      </div>
      <div style="width: 200px;">
        <input id="importe" class="form-control" currencyMask  [options]="{thousands: '.', decimal: ',' }"/>
      </div>
    </div>
    
      
  </div>

  <br>
  <br>

<div *ngIf="nombresURL.length > 1" style="padding-top: 10px;">
  <div class="alert alert-primary" role="alert">
    se adjuntaran {{nombresURL.length}} archivos
  </div>
</div>
<div *ngIf="nombresURL.length == 1" style="padding-top: 10px;">
  <div class="alert alert-primary" role="alert">
    se adjuntara {{nombresURL.length}} archivo
  </div>
</div>

<div style="padding-top: 10px">
      
  <div class="row">
    <div class="col-md-3">
      <label class="custom-file">
    
        <button class="btn btn-primary" data-toggle="modal" data-target="#cargaDoc" type="button"><i class="fas fa-file-upload"></i> cargar documentos</button>
      
    </label>
    </div>
    <div class="col-md-3">
      <button (click)="altaSiniestro()" type="button" class="btn btn-dark"><i class="fas fa-arrow-right"></i>Enviar formulario</button>
    </div>
    
  </div>

  
</div>
 
 <br>
</fieldset>
                  





</div>

<button id="btnMensajeFormulario" hidden=true type="button" data-toggle="modal" data-target="#mensajeFormulario"></button>
<div class="modal fade" id="mensajeFormulario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: center;" class="modal-title w-100">Mensaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        El informe se ha generado correctamente
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="cargaDoc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 style="text-align: center;" class="modal-title w-100" id="exampleModalLabel">Buscar documentos</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 text-center">
         
          <h2>Archivos cargados<p>{{nombresArch.length}}</p></h2>
        
        </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 text-center ">
        <i style="font-size: 50px; cursor: pointer; border-color:black;" (click)="explorador()" class="fas fa-folder"></i>
        <span  hidden=true class="btn btn-primary btn-file">
          <input id="file" type="file" (change)="cambioArchivo($event)">
      </span>
      </div>
    </div>


    <div class="modal-footer">
      <button (click)="cancelar()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button data-dismiss="modal" (click)="getUrls()" type="button" class="btn btn-primary">Guardar archivos</button>
    </div>
  </div>
  </div>
</div>
  






