
  
<div style="padding-top: 20px;" class="container">
  
  
    
  <fieldset >
    <legend>Alta de siniestro:</legend>
    
            <div [formGroup]="informeForm" class="row">
              <div class="col-md-4">
                <input id="my-input" [(ngModel)]="test" class="form-control" type="date" formControlName="fechaAlta">
                <div *ngIf="FechaAlta.invalid && (FechaAlta.dirty || FechaAlta.touched)" class="alert-danger">
                  <div *ngIf="FechaAlta.errors.required"class="container-error-message" >
                    El campo Fecha es requerido.
                  </div>
                </div> 
              </div>
            
            </div>
            
            
            
 
    <div [formGroup]="informeForm" style="padding-top: 20px;" class="form-group">
     
      <input oninput="this.value = this.value.toUpperCase()" [(ngModel)]="compania" placeholder="Compañia del tercero" type="text" class="form-control" formControlName="compania" />
      <div *ngIf="Compania.invalid && (Compania.dirty || Compania.touched)" class="alert-danger">
        <div *ngIf="Compania.errors.required"class="container-error-message" >
          El campo Compania es requerido.
        </div>
      </div> 
    </div>
    <hr>
  <div>
    <h4 class="text-center">Datos del reclamante</h4>
  </div>
   
  <div style="padding-top: 10px">
      <div [formGroup]="informeForm" class="row"  >
        <div class="col-md-4" >
          <input oninput="this.value = this.value.toUpperCase()" [(ngModel)]="nombreCompleto" placeholder="Nombre completo" class="form-control" formControlName="nombreCompleto">

          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert-danger">
            <div *ngIf="nombre.errors.required"class="container-error-message" >
              El campo nombre es requerido.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <input  oninput="this.value = this.value.toUpperCase()" [(ngModel)]="apellido" placeholder="Apellido" class="form-control" formControlName="apellido" >
          <div *ngIf="Apellido.invalid && (Apellido.dirty || Apellido.touched)" class="alert-danger">
            <div *ngIf="Apellido.errors.required"class="container-error-message" >
              El campo apellido es requerido.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="documento" placeholder="Documento" class="form-control" maxlength="8" formControlName="documento">
          <div *ngIf="Documento.invalid && (Documento.dirty || Documento.touched)" class="alert-danger">
            <div *ngIf="Documento.errors.required"class="container-error-message" >
              El campo DNI es requerido.
            </div>
            <div *ngIf="Documento.errors.min" class="container-error-message">
              Tiene que ser mayor a 7 numeros.
            </div>
            <div *ngIf="Documento.errors.max" class="container-error-message">
              Documento invalido, excedio la cantidad de numeros permitidos.
            </div>
          </div>
        </div>
      </div>

    <!--Telefono-->
    <div [formGroup]="informeForm" style="padding-top: 20px;" class="form-group">

    <div [formGroup]="informeForm" class="row"  >
      <div class="col-md-4" >
        <input [(ngModel)]="telefono" placeholder="Telefono" type="number" class="form-control" formControlName="telefono"/>
        <div *ngIf="Telefono.invalid && (Telefono.dirty || Telefono.touched)" class="alert-danger">
          <div *ngIf="Telefono.errors.required"class="container-error-message" >
            El campo Telefono es requerido.
          </div>
        </div>  
      </div>
      <div class="col-md-4">
        <input [(ngModel)]="mail" placeholder="Mail" class="form-control" formControlName="mail" >
        <div *ngIf="Mail.invalid && (Mail.dirty || Mail.touched)" class="alert-danger">
          <div *ngIf="Mail.errors.required"class="container-error-message" >
            El campo Mail es requerido.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <input oninput="this.value = this.value.toUpperCase()" type="text" [(ngModel)]="companiaAseguradora" placeholder="Compañia Aseguradora" class="form-control" formControlName="companiaAseguradora">
        <div *ngIf="CompaniaAseguradora.invalid && (CompaniaAseguradora.dirty || CompaniaAseguradora.touched)" class="alert-danger">
          <div *ngIf="CompaniaAseguradora.errors.required"class="container-error-message" >
            El campo Compañia aseguradora es requerido.
          </div>
        </div>
      </div>
    </div>
    </div>
    
  
    <div [formGroup]="informeForm" style="padding-top: 10px;" class="form-group">
        
      <input oninput="this.value = this.value.toUpperCase()" [(ngModel)]="domicilio" placeholder="Domicilio" type="text" class="form-control" formControlName="domicilio" />
      <div *ngIf="Domicilio.invalid && (Domicilio.dirty || Domicilio.touched)" class="alert-danger">
        <div *ngIf="Domicilio.errors.required"class="container-error-message" >
          El campo Domicilio es requerido.
        </div>
      </div>  
      
    </div>
      
  </div>
  <br>
  <hr>
  <br>
  <h4 class="text-center">Datos del vehículo</h4>
  <div style="padding-top: 20px;">
      
    <div [formGroup]="informeForm" class="row">
      <div class="col-md-4">
        <input type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="dominio" placeholder="Dominio" class="form-control" maxlength="8"  formControlName="dominio">
        <div *ngIf="Dominio.invalid && (Dominio.dirty || Dominio.touched)" class="alert-danger">
          <div *ngIf="Dominio.errors.required"class="container-error-message" >
            El campo Dominio es requerido.
          </div>
        </div>  
      </div>
      <div class="col-md-4">
        <input type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="marca" placeholder="Marca" class="form-control" formControlName="marca">
        <div *ngIf="Marca.invalid && (Marca.dirty || Marca.touched)" class="alert-danger">
          <div *ngIf="Marca.errors.required" class="container-error-message" >
            El campo Marca es requerido.
          </div>
        </div> 
      </div>
      <div class="col-md-4">
        <input type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="modelo" placeholder="Modelo" class="form-control" formControlName="modelo" >
        <div *ngIf="Modelo.invalid && (Modelo.dirty || Modelo.touched)" class="alert-danger">
          <div *ngIf="Modelo.errors.required"class="container-error-message" >
            El campo Modelo es requerido.
          </div>
        </div>
      </div>

      <div [formGroup]="informeForm" style="padding-top: 20px;" class="form-group">
        <div class="col-md-10">
          <input [(ngModel)]="anio" placeholder="Año" type="number" class="form-control" formControlName="anio"/>
          <div *ngIf="Anio.invalid && (Anio.dirty || Anio.touched)" class="alert-danger">
            <div *ngIf="Anio.errors.required"class="container-error-message" >
              El campo Año es requerido.
            </div>
          </div>  
        </div>  
        
      </div>
    </div>  

  </div>


  <br>
  <hr>
  
  <br>
  <div style="padding-top: 10px;">
    <div  [formGroup]="informeForm" style="margin-left: 0px;" class="row">
      <div>
        <p style="margin-top: 6px;">Importe a reclamar:</p>
        
      </div>
      <div style="width: 200px;">
        <input  [(ngModel)]="value" class="form-control" currencyMask  [options]="{thousands: '.', decimal: ',' }" formControlName="importe">
        
      </div>
    </div>
    
      
  </div>

  <br>
  <br>

<div *ngIf="nombresURL.length > 1" style="padding-top: 10px;">
  <div class="alert alert-primary" role="alert">
    se adjuntaran {{nombresURL.length}} archivos
  </div>
</div>
<div *ngIf="nombresURL.length == 1" style="padding-top: 10px;">
  <div class="alert alert-primary" role="alert">
    se adjuntara {{nombresURL.length}} archivo
  </div>
</div>

<div style="padding-top: 10px">
      
  <div class="row">
    <div class="col-md-3">
      <label class="custom-file">
       <button class="btn btn-primary" data-toggle="modal" data-target="#cargaDoc" type="button"><i class="fas fa-file-upload"></i> cargar documentos</button>
    </label>
    </div>
    <div class="col-md-3">
      <button (click)="altaSiniestro()" type="submit" class="btn btn-dark" [disabled]="!informeForm.valid" ><i class="fas fa-arrow-right"></i>Enviar formulario</button>
    </div>
    <div class="col-md-3">
    <i class="fa fa-question-circle fa-2x" type="button" data-toggle="modal" data-target="#exampleModal" style="color:#708be4; width:100; height:100;"></i>
  </div>
  </div>

  
</div>
 
 <br>
</fieldset>
                  

</div>
<button id="btnMensajeFormulario" hidden=true type="button" data-toggle="modal" data-target="#mensajeFormulario"></button>
<div class="modal fade" id="mensajeFormulario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="text-align: center;" class="modal-title w-100">Mensaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        El informe se ha generado correctamente
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>

<!-- Modal Ayuda -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cargar los siguientes Documentos: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><i class="fa fa-check-circle"></i> 1.	Copia de cedula verde automotor</p>
        <p><i class="fa fa-check-circle"></i> 2.	Copia de registro de conductor</p>
        <p><i class="fa fa-check-circle"></i> 3.	Copia de DNI del titular</p>
        <p><i class="fa fa-check-circle"></i> 4.	Fotografias de los daños</p>
        <p><i class="fa fa-check-circle"></i> 5.	Certificado de cobertura</p>
        <p><i class="fa fa-check-circle"></i> 6.	Copia de denuncia administrativa</p>
        <p><i class="fa fa-check-circle"></i> 7.	2 presupuestos de reparación</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"> Entendido!</button>
      </div>
    </div>
  </div>
</div>







<div class="modal fade" id="cargaDoc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 style="text-align: center;" class="modal-title w-100" id="exampleModalLabel">Buscar documentos</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 text-center">
         
          <h2>Archivos cargados<p>{{list.length}}</p></h2>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width.%':ancho}" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 text-center ">
        <i style="font-size: 50px; cursor: pointer; border-color:black;" (click)="explorador()" class="fas fa-folder"></i>
        <span  hidden=true class="btn btn-primary btn-file">
          <input multiple id="file" type="file" (change)="cambioArchivo($event)">
      </span>
      </div>
    </div>


    <div class="modal-footer">
      <button id="cerrarModal" hidden type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button (click)="cancelar()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button *ngIf="cargando==false" (click)="getUrls()" type="button" class="btn btn-primary">Guardar archivos</button>
        
      <button *ngIf="cargando==true" class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Cargando...
      </button>
   
    </div>
  </div>
  </div>
</div>
  






