<button hidden=true id="agenda" type="button"  data-toggle="modal" data-target="#exampleModal"></button>

<div data-backdrop="static" data-keyboard="false" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Agenda</h5>
        
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <input [(ngModel)]="busqueda" (keyup)="buscar()" type="text" class="form-control" placeholder="Buscar persona.">
          </div>
        </div>
        <br>
        <br>
        <br>

        <div class="container-fluid">
          <div class="card-columns">
          
            <div id="card" *ngFor="let item of finalArray" class="card" (click)="verProducto(item)">
            
              <img style="width: 100px; height: 100px" *ngIf="item.imagen!= '' " src="{{item.imagen}}" class="card-img-top" alt="...">
              <img style="width: 100px; height: 100px" *ngIf="item.imagen== '' " src="../../../assets/imagenes/sinfoto.png" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title">{{item.nombre}} {{item.apellido}}</h5>
                <p class="card-text text-center">{{item.sucursal}}</p>
                <p>{{item.mail}}</p>
                
        
              </div>
            </div>
          
          </div>
        </div>








      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
