<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="titulo" class="navbar-brand">Ariel Seguros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="form-inline my-2 my-lg-0">
        <input [(ngModel)]="buscar" class="form-control mr-sm-2" type="search" placeholder="Busqueda..." aria-label="Search">
        <button (click)="buscarNoticia()" class="btn btn-outline-primary my-2 my-sm-0" type="button">Buscar</button>
      </div>
     
      
    </ul>

    <ul style="padding-top: 20px; padding-left: 0px;">
      <i style="font-size: 25px;" class="far fa-bell"></i>
      <span class="badge badge-danger">2</span>
    </ul>

    <ul style="padding-top: 20px">
      <li class="nav-item dropdown">
        
        <a  data-toggle="dropdown">
          <i style="font-size: 25px; cursor: pointer;" class="far fa-envelope"></i>
          <span *ngIf="mensajes.length!=0" class="badge badge-danger">{{mensajes.length}}</span>
          
        </a>
        
        
        
        <div style="background-color: rgb(255,243,205) ;" class="dropdown-menu dropdown-menu-right text-center">
            <a *ngIf="mensajes.length > 0"><strong>Nuevos mensajes</strong></a>
            <a *ngIf="mensajes.length == 0"><strong>No hay mensajes nuevos</strong></a>
            
            <div class="dropdown-divider"></div>
            
            <div *ngFor="let item of mensajes">
              <a  (click)="verMensaje(item)"  class="dropdown-item"><strong>Asunto: </strong>{{item.mensaje.asunto}}</a>
              <div class="dropdown-divider"></div>
            </div>
           
            
            
            
            <a href="#"class="dropdown-item">Ver todos <i class="fas fa-comment-dots"></i></a>
        </div>
      </li>
  </ul>

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
          <a class="nav-link " data-toggle="dropdown"><img role="button" id="imagen"  src= {{url}}  class="rounded img-fluid img-thumbnail"></a>
          <div class="dropdown-menu dropdown-menu-right text-center">
              <a>{{usuario.nombre}}</a>
              <p style=" text-align: center; font-size: small;">{{usuario.mail}}</p>
              <div class="dropdown-divider"></div>
              <a id="lista" href="#" class="dropdown-item">Reportes <i class="fas fa-clipboard-list"></i></a>
              <a id="lista" href="#" class="dropdown-item">Configuracion <i class="fab fa-whmcs"></i></a>
              <div id="lista" class="dropdown-divider"></div>
              <a id="lista" href="#"class="dropdown-item">Salir <i class="fas fa-door-open"></i></a>
          </div>
      </li>
  </ul>

    <div class="nav-link dropdown-toggle" data-toggle="dropdown2" role="button" class="text-center">
      
    </div>
   
    
  </div>

</nav>





<!-- Button trigger modal -->
<button hidden=true id="btnMensaje" type="button" data-toggle="modal" data-target="#exampleModal"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        

        <div class="row">
          <div class="col-md-2">
            <label>De: </label>
          </div>
          <div>
            <label>Ariel</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Asunto: </label>
          </div>
          <div>
            <label>{{sms.asunto}}</label>
          </div>
        </div>
        <textarea class="form-control" id="textArea" rows="2">{{sms.cuerpo}}</textarea>




      </div>
      
    </div>
  </div>
</div>