img{
    width: 50px;
    height: 50px;
}

#titulo{
    font-family: 'Sansita Swashed', cursive;
}


#lista:hover {
    background-color: hotpink;
  }


  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }


  
.modal-header {
    
  background-color: #0480be;
  
}