<!-- Button trigger modal -->
<button hidden=true id="btnRepassword" type="button" data-toggle="modal" data-target="#repassword"></button>

<!-- Modal -->
<div data-backdrop="static" data-keyboard="false" class="modal fade" id="repassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
      <img style="width: 80px; height: 80px;" class="centerImage" src="../../../assets/imagenes/as.png">
    </div>
      <div class="modal-header justify-content-center">
        
        <h5 class="modal-title" id="exampleModalLabel">Restablecer contraseña</h5>
        
      </div>

      <div class="modal-body">
        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                
          
          <div style="padding-top: 10px; padding-left: 0px;" class="form-group col-md-4">
              
            <input id="contra" placeholder="Contraseña" type="password" formControlName="pass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <span *ngIf="espiar == false" (click)="mostrarPassword()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye"></i></span>
            <span *ngIf="espiar == true" (click)="ocultarPassword()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye-slash"></i></span>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
                
            </div>
        </div>
          
          <div style="padding-top: 10px;" class="form-group">
              
              <input id="contrapass" placeholder="Nueva contraseña..." type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <span *ngIf="espiarpass == false" (click)="mostrarPasswordPass()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye"></i></span>
              <span *ngIf="espiarpass == true" (click)="ocultarPasswordPass()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye-slash"></i></span>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
                  <div *ngIf="f.password.errors.minlength">Como minimo 6 caracteres</div>
              </div>
          </div>

          <div style="padding-top: 10px;" class="form-group">
              
              <input id="contrarepass" placeholder="Reingrese la contraseña" type="password" formControlName="repassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }" />
              <span *ngIf="espiarrepass == false" (click)="mostrarPasswordRepass()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye"></i></span>
              <span *ngIf="espiarrepass == true" (click)="ocultarPasswordRepass()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye-slash"></i></span>
              <div *ngIf="submitted && f.repassword.errors" class="invalid-feedback">
                  <div *ngIf="f.repassword.errors.required">La contraseña es requerida</div>
                  <div *ngIf="f.repassword.errors.mustMatch">La contraseña no coincide</div>
              </div>
          </div>
         
          <div style="padding-top: 10px;" class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Aceptar</button>
        </div>
      </form>
     
      <div class="modal-footer">
        
        
        <button hidden id="botonCerrarModal" data-dismiss="modal"></button>
  </div>
</div>