<div class="container">
 
  <div class="alert alert-success" role="alert">
    <strong>Enviar un mensaje a una o todas las sucursales.</strong>
  </div>
  
  <div style="padding-top: 10px; padding-bottom: 10px; background-color: rgb(173, 186, 230);" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-6 text-center">Mensaje</h1>
      <hr>
      <br>
      <div class="row">
        <div class="col-md-2">
          <button (click)="enviarMensaje()" style="margin-top: 15px;" class="btn btn-lg btn-dark" type="button">Enviar</button>
        </div>
        <div class="col-md">
          <div class="row">
            
            <ng-multiselect-dropdown
            [(ngModel)]="para"
            [placeholder]="'Para'"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
           style="background-color: white; width: 100%; border-color: grey;">
          </ng-multiselect-dropdown>
            
         
          </div>
          <br>
          <div class="row">
            
            <input [(ngModel)]="asunto" class="form-control" placeholder="Asunto">
          
       
        </div>
        </div>
      </div>
      
    </div>

    <div style="padding-top: 20px;" class="form-group">
      
      <textarea [(ngModel)]="cuerpo" placeholder="Escriba su mensaje..." class="form-control" id="textArea" rows="2"></textarea>
    </div>
  </div>
</div>
