<div data-backdrop="static" data-keyboard="false" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title" id="exampleModalLabel">Complete sus datos</h5>
          
        </div>
        <div class="modal-body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    
                <div class="col-md-2" style="padding-top: 10px;" class="form-group">
                    
                    <input  placeholder="Nombre completo..." type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                    <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                        <div *ngIf="f.nombre.errors.required">nombre completo obligatorio</div>
                    </div>
                </div>
               
               
                <div style="padding-top: 10px;" class="form-group">
                   
                    <input placeholder="Apellido..." type="text" formControlName="apellido" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
                    <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                        <div *ngIf="f.apellido.errors.required">apellido obligatorio</div>
                    </div>
                </div>

                <div style="padding-top: 10px;" class="form-group">
                   
                    <select  class="form-control" (change)="cambiarEstado($event.target.value)" [ngClass]="{ 'is-invalid': flag==1 }">
                        <option value="" disabled selected>Selecciona una sucursal de trabajo</option>
                        <option value="Guillon">Guillon</option>
                        <option value="Guernica1">Guernica1</option>
                        <option value="Guernica2">Guernica2</option>
                        <option value="Guernica3">Guernica3</option>
                        <option value="Longchamps">Longchamps</option>
                        <option value="Longchamps">Mercado central</option>
                        <option value="Estudio de abogados">Estudio de abogados</option>
                    </select>
                    <div *ngIf="flag==1" class="invalid-feedback">
                        <div *ngIf="flag==1">sucursal obligatoria</div>
                    </div>
                </div>
               
               
                <div style="padding-top: 10px;" class="form-group">
                    
                    <input placeholder="Mail..." type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">mail obligatorio</div>
                        <div *ngIf="f.email.errors.email">debe ser un mail valido</div>
                    </div>
                </div>

                <div style="padding-top: 10px;" class="form-group">
                    
                    <input placeholder="Reingrese mail..." type="text" formControlName="reemail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.reemail.errors }" />
                    <div *ngIf="submitted && f.reemail.errors" class="invalid-feedback">
                        <div *ngIf="f.reemail.errors.required">mail obligatorio</div>
                        <div *ngIf="f.reemail.errors.mustMatch">El mail no coincide</div>
                    </div>
                </div>
                
                
                <div style="padding-top: 10px;" class="form-group">
                    
                    <input id="contra" placeholder="Contraseña..." type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <span *ngIf="espiar == false" (click)="mostrarPassword()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye"></i></span>
                    <span *ngIf="espiar == true" (click)="ocultarPassword()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye-slash"></i></span>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">La contraseña es requerida</div>
                        <div *ngIf="f.password.errors.minlength">Como minimo 6 caracteres</div>
                    </div>
                </div>

                <div style="padding-top: 10px;" class="form-group">
                    
                    <input id="recontra" placeholder="Reingrese la contraseña" type="password" formControlName="repassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }" />
                    <span *ngIf="respiar == false" (click)="remostrarPassword()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye"></i></span>
                    <span *ngIf="respiar == true" (click)="reocultarPassword()" style="right: 5px; cursor: pointer;" id="eye"><i class="far fa-eye-slash"></i></span>
                    <div *ngIf="submitted && f.repassword.errors" class="invalid-feedback">
                        <div *ngIf="f.repassword.errors.required">La contraseña es requerida</div>
                        <div *ngIf="f.repassword.errors.mustMatch">La contraseña no coincide</div>
                    </div>
                </div>
               
                <div style="padding-top: 10px;" class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Registrarse</button>
                    <button style="margin-left: 10px;" routerLink="/inicio"  class="btn btn-danger" data-dismiss="modal">Salir</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button id="btnCerrar" hidden="true" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
        
        
            
            
                
                
                
                
            
      
    



<button hidden=true id="botonMensaje" type="button" data-toggle="modal" data-target="#mensaje" data-dismiss="modal"></button>
<div class="modal fade" id="mensaje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          
        </div>
        <div class="modal-body text-center">
          Usuario registrado correctamente
        </div>
        <div class="modal-footer">
            <button (click)="redireccionar()" type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            
          </div>
      </div>
    </div>
  </div>



  <button id="botonRegistrar" hidden=true type="button" data-toggle="modal" data-target="#exampleModal">
    
  </button>