<div style="padding-top: 20px;" class="accordion" id="accordionExample">
     
     
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#burzaco" aria-expanded="false" aria-controls="collapseThree">
          Sucursal Burzaco <i data-toggle="collapse" data-target="#informes" *ngIf="flecha == 'abajo'" class="fas fa-arrow-down"></i><i data-toggle="collapse" data-target="#informes" *ngIf=" flecha == 'arriba'" class="fas fa-arrow-up"></i>
        </button>
      </h5>
    </div>
    <div id="burzaco" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div style="height: 700px;" class="card-body">
        <div *ngFor="let item of burzaco">
          <div (click)="reportes(item)" id="operador" style="cursor: pointer;" class="row">
            <div class="col-md-2">
              <span style="font-size: 25px;" [class]="class">{{item.nombre[0]}}{{item.apellido[0]}}</span>
            </div>
            <div style="padding-top: 5px;" class="col-md-2">
              <span>{{item.nombre}} {{item.apellido}} </span>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
     
     
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#guernica" aria-expanded="false" aria-controls="collapseThree">
          Sucursal Guernica <i data-toggle="collapse" data-target="#informes" *ngIf="flecha == 'abajo'" class="fas fa-arrow-down"></i><i data-toggle="collapse" data-target="#informes" *ngIf=" flecha == 'arriba'" class="fas fa-arrow-up"></i>
        </button>
      </h5>
    </div>
    <div  id="guernica" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div style="height: 700px;" class="card-body">
        <div *ngFor="let item of guernica">
          <div (click)="reportes(item)" id="operador" style="cursor: pointer;"  class="row">
            <div class="col-md-2">
              <span style="font-size: 25px;" [class]="class">{{item.nombre[0]}}{{item.apellido[0]}}</span>
            </div>
            <div style="padding-top: 5px;" class="col-md-2">
              <span>{{item.nombre}} {{item.apellido}} </span>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
     
     
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button  class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#longchamps" aria-expanded="false" aria-controls="collapseThree">
          Sucursal Longchamps <i data-toggle="collapse" data-target="#informes" *ngIf="flecha == 'abajo'" class="fas fa-arrow-down"></i><i data-toggle="collapse" data-target="#informes" *ngIf=" flecha == 'arriba'" class="fas fa-arrow-up"></i>
        </button>
      </h5>
    </div>
    <div id="longchamps" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div style="height: 700px;" class="card-body">
        <div *ngFor="let item of longchamps">
          <div (click)="reportes(item)"  id="operador" style="cursor: pointer;"  class="row">
            <div class="col-md-2">
              <span style="font-size: 25px;" [class]="class">{{item.nombre[0]}}{{item.apellido[0]}}</span>
            </div>
            <div style="padding-top: 5px;" class="col-md-2">
              <span>{{item.nombre}} {{item.apellido}} </span>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
