<div style="padding-top: 20px;" class="container">
  <fieldset>
    <legend>Cálculo de indemnizaciones</legend>
    
    <table class="table table-bordered table-dark">
      <thead class="thead-dark text-center">
        <tr>
          <th>SUCURSAL</th>
          <th>PORCENTAJE(%)</th>
          <th>ACCION</th>
        </tr>
        
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let item of sucursales">
          <td>{{item.nombre}}</td>
          <td *ngIf="item.nombre != nombre ">{{item.porcentaje}}</td>
          <td *ngIf="item.nombre == nombre "><input [(ngModel)]="porcentaje" class="form-control"  currencyMask  [options]="{ prefix: '% '  ,thousands: '.', decimal: ',' , precision:'1'  }"></td>
          <td *ngIf="item.nombre != nombre "><button (click)="cambiar(item.nombre)" class="btn btn-warning">cambiar</button></td>
          <td *ngIf="item.nombre == nombre" ><button (click)="aceptar(item.uid)" class="btn btn-warning">aceptar</button></td>
        
        </tr>
      </tbody>
    </table>
    
    <div class="alert alert-info" role="alert">
      Ingrese una fecha desde hasta, para calcular la liquidación por sucursal.
    </div>
      <div class="row">
        <div class="col-md-3">
          <input class="form-control" type="date" placeholder="Desde" [(ngModel)]="desde">
        </div>
        <div class="col-md-3">
          <input class="form-control" type="date" placeholder="Hasta" [(ngModel)]="hasta" [min]="desde">
        </div>
        <div class="col-md-3">
          <button disabled *ngIf="desde=='' || hasta == ''" (click)="buscar()" class="btn btn-primary" type="button">Buscar</button>
          <button  *ngIf="desde!='' && hasta != ''" (click)="buscar()" class="btn btn-primary" type="button">Buscar</button>
        </div>
      </div>
      <br>
      
  </fieldset>
</div>


<button id="totalesbtn"  hidden type="button" data-toggle="modal" data-target="#totales"></button>
<div class="modal fade" id="totales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="exportar()" class="btn btn-success">Exportar <i class="far fa-file-pdf"></i><i style="padding-left: 5px;" class="fas fa-arrow-down"></i></button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
        <table class="table table-bordered">
          <thead class="thead-dark text-center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">SUCURSAL</th>
              <th scope="col">TOTAL</th>
             </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <th scope="row">1</th>
              <td>Guillon</td>
              <td>${{guillonFront}}</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Guernica1</td>
              <td>${{guernica1Front}}</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Guernica2</td>
              <td>${{guernica2Front}}</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Guernica3</td>
              <td>${{guernica3Front}}</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Longchamps</td>
              <td>${{longchampsFront}}</td>
            </tr>

            <tr>
              <th scope="row">6</th>
              <td>Mercado central</td>
              <td>${{mercadoFront}}</td>
            </tr>
          
          </tbody>
        </table>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <label>TOTAL:</label>
          </div>
          <div class="col-md-2">
            <label><strong>${{total}}</strong></label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>