<div id="fila" class="row">

  <div class="col-md-4">
    
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3>DashBoard</h3>
          </div>
    
          <ul class="list-unstyled components">
              <p>Menú Principal</p>
              <li class="active">
                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Noticias Principales</a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li>
                          <a href="#">Argentina</a>
                      </li>
                      <li>
                          <a href="#">Resto del mundo</a>
                      </li>
                      
                  </ul>
              </li>
              
              <li>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Acciones</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">

                    <li>
                      <a routerLink="/informe">
                        <img style="width: 30px; height: 30px;" src="../../../assets/imagenes/registrarse.png">
                        Generar informe
                      </a>
                  </li>
                  <li>
                    <a routerLink="/informe">
                      <img style="width: 30px; height: 30px;" src="../../../assets/imagenes/informe.png">
                      ver informes
                    </a>
                </li>
                      <li>
                          <a (click)="mensajes()">
                            <img src="../../../assets/imagenes/enviar.png">
                            Enviar mensaje
                          </a>
                      </li>
                      <li>
                        <a [routerLink]="['/agenda']">
                          <img src="../../../assets/imagenes/agenda.png">
                          Agenda
                        </a>
                    </li>
                   </ul>
              </li>
          </ul>
      </nav>
    
    </div>
  
  </div>

  <div class="col-md-8">
    <div *ngIf="mensaje == false " hidden=true>
      <app-mensaje></app-mensaje>
    </div>
    <div *ngIf="mensaje==true">
      <app-mensaje></app-mensaje>
    </div>
    
  </div>
</div>