<div id="fila" class="row">

  <div class="col-md-4">
    
    <div class="wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3>DashBoard</h3>
          </div>
    
          <ul class="list-unstyled components">
              <p>Menú Principal</p>
             
            
              
              <li>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Acciones</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">

                    <li *ngIf="usuario.perfil !='abogado'">
                      <a routerLink="/informe">
                        <img style="width: 30px; height: 30px;" src="../../../assets/imagenes/registrarse.png">
                        Generar informe
                      </a>
                  </li>
                  <li>
                    <a (click)="verInformes()">
                      <img style="width: 30px; height: 30px;" src="../../../assets/imagenes/informe.png">
                      ver informes
                    </a>
                </li>
                      
                      <li>
                        <a [routerLink]="['/agenda']">
                          <img src="../../../assets/imagenes/agenda.png">
                          Agenda
                        </a>
                    </li>
                   </ul>
              </li>
              <div *ngIf="usuario.perfil=='adm'">
                <li>
                  <a href="#admpageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administrador</a>
                  <ul class="collapse list-unstyled" id="admpageSubmenu">
  
                    <li>
                      <a style="cursor: pointer;" routerLink="/operadores">
                        <img width="30px" src="../../../assets/imagenes/usuario.png">
                          Operadores
                      </a>
                  </li>
                    
                    
                      <li>
                          <a (click)="mensajes()">
                            <img src="../../../assets/imagenes/enviar.png">
                            Enviar mensaje
                          </a>
                      </li>
                    
                   </ul>
              </li>
              </div>
             
          </ul>
      </nav>
    
    </div>
  
  </div>

  <div class="col-md-8">

    <div class="accordion" id="accordionExample">
     
     
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button (click)="test()" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#informes" aria-expanded="false" aria-controls="collapseThree">
              Ver informes <i data-toggle="collapse" data-target="#informes" *ngIf="flecha == 'abajo'" class="fas fa-arrow-down"></i><i data-toggle="collapse" data-target="#informes" *ngIf=" flecha == 'arriba'" class="fas fa-arrow-up"></i>
            </button>
          </h5>
        </div>
        <div id="informes" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div style="height: 700px;" class="card-body">
            <app-tabla-informe></app-tabla-informe>
          </div>
        </div>
      </div>
    </div>
  
    <div style="padding-top: 10px;" class="accordion" id="accordionExample">
     
     
      <div *ngIf="usuario.perfil=='adm'" class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button (click)="flechaMensaje()" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Enviar mensaje <i class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse" *ngIf="flechamsn == 'abajo'" class="fas fa-arrow-down"></i><i class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse" *ngIf=" flechamsn == 'arriba'" class="fas fa-arrow-up"></i>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div style="height: 500px;" class="card-body">
            <app-mensaje></app-mensaje>
          </div>
        </div>
      </div>
    </div>
</div>

  
    
    
  
</div>