<div class="container">
  <input type="text" [(ngModel)]="search" class="form-control" placeholder="Ingrese su busqueda...">
<br>
<label>Items por página:  <select (change)="cambiarItems($event.target.value)">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="30">30</option>
  <option value="50">50</option>
</select> </label>

  <table class="table table-bordered table-dark table-responsive">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">MODIFICAR</th>
        <th scope="col">ESTADO</th>
        <th scope="col">FECHA DE ALTA</th>
        <th scope="col">SUCURSAL</th>
        <th scope="col">COMPAÑIA DE TERCEROS</th>
        <th scope="col">DATOS DEL RECLAMANTE</th>
        <th scope="col">DATOS DEL VEHICULO</th>
        <th scope="col">IMPORTE</th>
        <th scope="col">MONTO DE INDEMNIZACION</th>
        <th scope="col">OBSERVACIONES</th>
        <th scope="col">ACCION</th>
   
        
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let item of informes | filter:search |  paginate: {itemsPerPage:page, currentPage: p } ; index as i">
        <th scope="row">{{i+1}}</th>
        <th><i (click)="modificarItem(item)" style="cursor: pointer;" class="fas fa-edit"></i></th>
        <td *ngIf="item.estado == 'Pendiente' "><span  class="badge badge-pill badge-danger">{{item.estado}}</span></td>
        <td *ngIf="item.estado == 'En tramite' "><span  class="badge badge-pill badge-info">{{item.estado}}</span></td>
        <td *ngIf="item.estado == 'Resuelto' "><span  class="badge badge-pill badge-warning">{{item.estado}}</span></td>
        <td *ngIf="item.estado == 'Cerrado' "><span  class="badge badge-pill badge-success  ">{{item.estado}}</span></td>
        <td *ngIf="item.estado == 'Rechazado' "><span  class="badge badge-pill badge-info">{{item.estado}}</span></td>
        <td *ngIf="item.estado == 'Observado' "><span  class="badge badge-pill badge-info">{{item.estado}}</span></td>
        <td> {{item.fechaAlta}}</td>
        <td> {{item.usuario.sucursal}}</td>
        <td>{{item.compania}}</td>
        <td><i (click)="verReclamante(item)" style="cursor: pointer;" class="far fa-eye"></i></td>
        <td > <i (click)="verVehiculo(item)" style="cursor: pointer;" class="far fa-eye"></i></td>
        <td>{{item.importe}}</td>
        <td>{{item.indemnizacion}}</td>
        <td *ngIf="item.notas.length>0"><span (click)="verNotas(item.notas)" style="font-size: 28px; cursor: pointer;"><i class="far fa-clipboard"></i></span></td>
        <td *ngIf="item.notas.length==0"></td>
        <select (change)="cambiarEstado($event.target.value, item.uid)"  id="select">
          <option value="" disabled selected>---Selecciona---</option>
          <option value="Pendiente">Pendiente</option>
        </select>
       
      </tr>
     
    </tbody>
    
  </table>
  <pagination-controls 
                      (pageChange)="p=$event" 
                      previousLabel="Anterior" 
                      nextLabel="Siguiente" 
                      responsive= "true">
                      
</pagination-controls>

  <button (click)="explorador()" *ngIf="btnAgregar != '' " type="button" class="btn btn-primary">Agregar imagen</button>
  <span  hidden=true class="btn btn-primary btn-file">
    <input id="file" type="file" (change)="cambioArchivo($event)">
  </span>
  
  <div *ngIf="submitted == false" style="padding-top: 20px;" class="card-columns">
    
    <div *ngFor="let item of imagenes" class="card">
      
        <img *ngIf="item.extension == 'jpg' || item.extension == 'png' || item.extension == 'jpeg'; else sinimagen" src="{{item.imagen}}" class="card-img-top img-fluid">
        <ng-template #sinimagen>
          <img class="card-img-top img-fluid" src="../../../assets/imagenes/sinimagen.jpg">
        </ng-template>
        <div class="card-body text-center">
          <h5 class="card-title">{{item.nombre}}</h5>
          <p class="card-text text-center">
            <span style="cursor: pointer;" (click)="borrarImagen(item)" class="badge badge-danger"><h6>Borrar imagen</h6></span>
          </p>
        </div>
    </div>

  </div>

  <!--Informe cargado en la base-->
  
  <fieldset *ngIf="btnAgregar != ''">
    <legend>Informe cargado:</legend>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <div  class="row">
        <div class="col-md-4">
          <input disabled=true [(ngModel)]="fechaAlta" ngbTooltip="fecha de alta"  class="form-control" type="text" formControlName="fechaAlta">
        </div> 
      </div>
      
      <div style="padding-top: 10px;" class="form-group">
                   
        <input [(ngModel)]="compania" oninput="this.value = this.value.toUpperCase()" ngbTooltip="compañia del tercero" type="text" formControlName="compania" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.compania.errors }"  />
        <div *ngIf="submitted && f.compania.errors" class="invalid-feedback">
          <div *ngIf="f.compania.errors.required">campo obligatorio</div>
        </div>
      </div>
      

      <hr>
      <h2 class="text-center">Datos del reclamante</h2>
      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Nombre completo" [(ngModel)]="nombreCompleto"  type="text" formControlName="nombreCompleto" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombreCompleto.errors }" />
        <div *ngIf="submitted && f.nombreCompleto.errors" class="invalid-feedback">
            <div *ngIf="f.nombreCompleto.errors.required">campo obligatorio</div>
        </div>
      </div>
      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Apellido" [(ngModel)]="apellido"  type="text" formControlName="apellido" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
        <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
            <div *ngIf="f.apellido.errors.required">campo obligatorio</div>
        </div>
      </div>
      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Documento" [(ngModel)]="documento"  type="text" formControlName="documento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.documento.errors }" />
        <div *ngIf="submitted && f.documento.errors" class="invalid-feedback">
            <div *ngIf="f.documento.errors.required">campo obligatorio</div>
        </div>
      </div>
      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Telefono" [(ngModel)]="telefono"  type="text" formControlName="telefono" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
        <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
            <div *ngIf="f.telefono.errors.required">campo obligatorio</div>
        </div>
      </div>
      <div style="padding-top: 10px;" class="form-group">
                   
        <input  ngbTooltip="Mail" [(ngModel)]="mail"  type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
        <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
            <div *ngIf="f.mail.errors.required">campo obligatorio</div>
        </div>
      </div>
      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Compañia aseguradora" [(ngModel)]="companiaAseguradora"  type="text" formControlName="companiaAseguradora" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companiaAseguradora.errors }" />
        <div *ngIf="submitted && f.companiaAseguradora.errors" class="invalid-feedback">
            <div *ngIf="f.companiaAseguradora.errors.required">campo obligatorio</div>
        </div>
      </div>

      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Domicilio" [(ngModel)]="domicilio"  type="text" formControlName="domicilio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.domicilio.errors }" />
        <div *ngIf="submitted && f.domicilio.errors" class="invalid-feedback">
            <div *ngIf="f.domicilio.errors.required">campo obligatorio</div>
        </div>
      </div>

      <hr>
      <h2 class="text-center">Datos del vehiculo</h2>
      
      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Dominio" [(ngModel)]="dominio"  type="text" formControlName="dominio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dominio.errors }" />
        <div *ngIf="submitted && f.dominio.errors" class="invalid-feedback">
            <div *ngIf="f.dominio.errors.required">campo obligatorio</div>
        </div>
      </div>

      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Marca" [(ngModel)]="marca"  type="text" formControlName="marca" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.marca.errors }" />
        <div *ngIf="submitted && f.marca.errors" class="invalid-feedback">
            <div *ngIf="f.marca.errors.required">campo obligatorio</div>
        </div>
      </div>

      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Modelo" [(ngModel)]="modelo"  type="text" formControlName="modelo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.modelo.errors }" />
        <div *ngIf="submitted && f.modelo.errors" class="invalid-feedback">
            <div *ngIf="f.modelo.errors.required">campo obligatorio</div>
        </div>
      </div>

      <div style="padding-top: 10px;" class="form-group">
                   
        <input oninput="this.value = this.value.toUpperCase()" ngbTooltip="Año" [(ngModel)]="anio"  type="text" formControlName="anio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.anio.errors }" />
        <div *ngIf="submitted && f.anio.errors" class="invalid-feedback">
            <div *ngIf="f.anio.errors.required">campo obligatorio</div>
        </div>
      </div>
      
    <hr>

    <h2 class="text-center">Importe</h2>
    

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
         
            <input style="cursor: not-allowed;" ngbTooltip="Importe" *ngIf="modificarImporte == false" disabled [(ngModel)]="importe"  class="form-control" formControlName="importe"/>
            <input ngbTooltip="Importe" *ngIf="modificarImporte == true " class="form-control" currencyMask  [options]="{thousands: '.', decimal: ',' }" formControlName="importe" [(ngModel)]="importe"/>           
        </div>
      </div>
      <div class="col-md-2">
        <span  style="cursor: pointer; font-size: medium; " (click)="modifImporte()" class="badge badge-pill badge-primary">Modificar importe</span>
       
      </div>
    </div>
    
    <hr>
    <div style="padding-top: 10px;" class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Guardar cambios</button>
      <button style="margin-left: 10px;" (click)="salir()"  class="btn btn-danger">Salir</button>
  </div>
    
      
    </form>
    
  </fieldset>
 


</div>



<!-- Button trigger modal -->
<button hidden=true id="btnmodificar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-center">
      
      <div class="modal-body">
        Cambios realizados correctamente!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>


<button hidden=true id="btnReclamante" type="button" data-toggle="modal" data-target="#reclamante"></button>
<div class="modal fade" id="reclamante" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-body">
        
        <div class="row">
          <div class="col-md-3">
            <label>Nombre:</label>
          </div>
          <div class="col-md-4">
            <label>{{reclamante.nombreCompleto}} {{reclamante.apellido}}</label>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <label>Documento:</label>
          </div>
          <div class="col-md-4">
            <label>{{reclamante.documento}}</label>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <label>Telefono:</label>
          </div>
          <div class="col-md-4">
            <label>{{reclamante.telefono}}</label>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <label>Mail:</label>
          </div>
          <div class="col-md-4">
            <label>{{reclamante.mail}}</label>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <label>Compañia:</label>
          </div>
          <div class="col-md-4">
            <label>{{reclamante.companiaAseguradora}}</label>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <label>Domicilio:</label>
          </div>
          <div class="col-md-4">
            <label>{{reclamante.domicilio}}</label>
          </div>
        </div>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>

<button hidden=true id="btnVehiculo" type="button" data-toggle="modal" data-target="#vehiculo"></button>
<div class="modal fade" id="vehiculo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-body">
        
        <div class="row">
          <div class="col-md-3">
            <label>Dominio:</label>
          </div>
          <div class="col-md-3">
            <label>{{reclamante.dominio}}</label>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <label>Marca:</label>
          </div>
          <div class="col-md-3">
            <label>{{reclamante.marca}}</label>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <label>Modelo:</label>
          </div>
          <div class="col-md-3">
            <label>{{reclamante.modelo}}</label>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <label>Año:</label>
          </div>
          <div class="col-md-3">
            <label>{{reclamante.anio}}</label>
          </div>
        </div>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>

<button hidden=true id="btnNotas" type="button" data-toggle="modal" data-target="#notas"></button>

<div class="modal fade" id="notas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-body">
        <div *ngFor="let item of notas ; index as i"  class="accordion" id="accordionExample">
         
          <div  class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button  class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]=" '#informes'+i" aria-expanded="false" aria-controls="collapseThree">
                  <strong>Fecha: </strong>{{item.fecha}}
                </button>
                
              </h5>
            </div>
            <div [id]="'informes'+i" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div style="height: auto;" class="card-body">
                {{item.nota}}
              </div>
            </div>
          </div>


        </div>
        <hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>