#excel{
    visibility:hidden;
    height:0;
    overflow: hidden;
}


.spinner1 .spinner2{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(30% - 60px);
}

.spinner1 .spinner2 .spinner3{
    background-color: transparent;
    border: none;
}
